@font-face {
    font-family: "Onest";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Onest-Bold.eot"), /* IE9 Compat Modes */
    url("../fonts/Onest-Bold.woff2") format("woff2"), /* Super Modern Browsers */
    url("../fonts/Onest-Bold.woff") format("woff"), /* Pretty Modern Browsers */
    url("../fonts/Onest-Bold.ttf")  format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "Onest";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Onest-SemiBold.eot"), /* IE9 Compat Modes */
    url("../fonts/Onest-SemiBold.woff2") format("woff2"), /* Super Modern Browsers */
    url("../fonts/Onest-SemiBold.woff") format("woff"), /* Pretty Modern Browsers */
    url("../fonts/Onest-SemiBold.ttf")  format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "Onest";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Onest-Medium.eot"), /* IE9 Compat Modes */
    url("../fonts/Onest-Medium.woff2") format("woff2"), /* Super Modern Browsers */
    url("../fonts/Onest-Medium.woff") format("woff"), /* Pretty Modern Browsers */
    url("../fonts/Onest-Medium.ttf")  format("truetype"); /* Safari, Android, iOS */
}

@font-face {
    font-family: "Onest";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Onest-Regular.eot"), /* IE9 Compat Modes */
    url("../fonts/Onest-Regular.woff2") format("woff2"), /* Super Modern Browsers */
    url("../fonts/Onest-Regular.woff") format("woff"), /* Pretty Modern Browsers */
    url("../fonts/Onest-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
    font-family: "Ouvality";
    font-style: normal;
    src: local("Ouvality"),
    url("../fonts/Ouvality.eot"),
    url("../fonts/Ouvality.woff") format("woff"),
    url("../fonts/Ouvality.woff2") format("woff2"),
    url("../fonts/Ouvality.ttf") format("ttf");
}