
html, * {
    scroll-behavior: smooth;
}

html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

body {
    font-family: Onest, sans-serif;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body.noScroll {
    overflow: hidden;
}


.shadow {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    pointer-events: none;
    z-index: 3;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000002e;
}

.shadow.show {
    opacity: 1;
    pointer-events: auto;
}

.subtitle {
    font-family: Onest, sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #131919;
}

.title {
    font-family: Ouvality, sans-serif;
    font-weight: 400;
    font-size: 180px;
    color: #E9A429;
}


.container {
    max-width: 1260px;
    margin: 0 auto;
}

@media (max-width: 1299px) {
    .container {
        padding: 0 20px;
    }

}

.btn {
    border-radius: 30px;
    padding: 19px 32px;
    font-family: Onest, sans-serif;
    font-weight: 600;
    font-size: 16px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    display: inline-block;
    text-align: center;
}

.hero {
    background-image: url("../images/hero-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 66px;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 30px;
}

.header__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 63px;

}

.header__logo {
    max-width: 223px;
}

.header__logo img {
    width: 100%;
}

/*.burger {*/
/*    z-index: 10;*/
/*    display: none;*/

/*}*/
.burger {
    z-index: 10;
    display: none;
    width: 40px;
    height: 30px;
    position: relative;
    overflow: hidden;
}

.burger span {

    border-radius: 10px;
    width: 33px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #000;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.burger span:nth-of-type(2) {
    top: calc(50% - 8px);
}

.burger span:nth-of-type(3) {
    top: calc(50% + 8px);
}

.burger.active span:nth-of-type(1) {
    display: none;
}

.burger.active span:nth-of-type(2) {
    top: 50%;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -ms-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
}

.burger.active span:nth-of-type(3) {
    top: 50%;
    -webkit-transform: translate(-50%, 0%) rotate(-45deg);
    -ms-transform: translate(-50%, 0%) rotate(-45deg);
    transform: translate(-50%, 0%) rotate(-45deg);
}

.header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 5%;
}

.header__nav-item {
    margin-right: 30px;
    font-family: Onest, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #757A7A;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
}


.header__nav-item:hover {
    color: #00CEBD;
}

.header__nav-item:hover .header__nav-link-decor {
    opacity: 1;
}

.header__nav-link-decor {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    opacity: 0;
    width: 100%;

}

.header__nav-link-decor svg {
    width: 100%;
}

.header__nav-item:last-child {
    margin-right: 0;
}


.header__right {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header__times {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    font-family: Onest, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #757A7A;
    margin-bottom: 10px;
}

.header__times-icon {
    margin: 0 11px;
}

.header__phone {
    font-family: Onest, sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.hero__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.hero__content {
    max-width: 671px;
    margin-top: 111px;
}

.hero__pre-title {
    font-family: Onest, sans-serif;
    font-weight: 700;
    font-size: 66px;
    color: #131919;
    position: relative;
    z-index: 1;
    margin-bottom: -13%;

}

.hero__title {
    font-family: Ouvality, sans-serif;
    font-size: 250px;
    color: #E9A429;
}

.hero__image {
    max-width: 558px;
    margin-top: 24px;
}

.hero__image img {
    width: 100%;
}

.hero__text {
    max-width: 408px;
    font-family: Onest, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #272C2C;
    margin-bottom: 40px;
}

.hero__button {
    background-color: #00CEBD;
    color: #fff;
}

.hero__button:hover {
    background-color: #ffffff;
    color: #00CEBD;
}

.hero__halal {
    position: relative;
    margin-top: 209px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.hero__bears {
    position: absolute;
    bottom: -75%;
    right: 23%;
}

.hero__halal-text {
    margin-left: 20px;
    max-width: 498px;
    font-family: Onest, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #fff;
}

@media (max-width: 1099px) {

    .hero__pre-title {
        font-size: 48px;
    }

    .hero__title {
        font-size: 150px;
    }

    .hero__text {
        max-width: 322px;
        margin-top: 10px;
    }
}

@media (max-width: 900px) {
    .hero__body {
        margin-top: 81px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .hero__content {
        margin-top: 0;
    }

    .burger {
        display: block;
        margin-right: 20px;
    }

    .header {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .header__right {
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        padding: 148px 40px 40px 40px;
        width: 374px;
        height: 100vh;
        background-color: #FFEDD9;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
        -webkit-box-pack: initial;
        -ms-flex-pack: initial;
        justify-content: initial;
    }

    .header__right.active {
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }

    .header__nav {
        width: 100%;
    }

    .header__nav-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: end;
        margin-bottom: 60px;
    }

    .header__nav-item {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .header__right-inner {
        width: 100%;
    }

    .header__phone {
        text-align: end;
    }

    .hero__halal-text {
        max-width: 251px;
    }

    .hero__bears {
        right: 10%;
        bottom: -47%;
    }
}

@media (max-width: 829px) {
    .hero__halal {
        margin-top: 53%;
    }
}

@media (max-width: 699px) {
    .burger {
        margin-right: 0;
    }

    .hero__content {
        max-width: inherit;
        width: 100%;
    }

    .hero__body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .hero {
        padding-bottom: 110px;
    }

    .hero__bears {
        bottom: -110px;
    }

    .hero__halal {
        margin-top: 209px;
    }

    .hero__button {
        width: 100%;
    }
}

@media (max-width: 499px) {

    .header__right {
        width: 100%;
    }

    .hero__body {
        margin-top: 115px;
    }

    .hero__pre-title {
        font-size: 36px;
    }

    .hero__title {
        font-size: 120px;
    }

    .hero__text {
        margin-top: 30px;
    }

    .hero__action {
        margin-bottom: 40px;
        width: 100%;
    }

    .hero__button {
        width: 100%;
    }

    .hero {
        background-position: 23%
    }

    .hero__halal {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
    }

    .hero__halal-text {
        margin-left: 0;
        margin-top: 10px;
    }
}


/*===================Catalog============================*/

.catalog {
    padding: 140px 0 74px 0;
}

.catalog__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.catalog__sub-title {
    position: relative;
    font-family: Onest, sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #131919;
    z-index: 2;
    margin-bottom: -8%;
}

.catalog__title {
    font-family: Ouvality, sans-serif;
    font-weight: 400;
    font-size: 180px;
    color: #E9A429;
}

.catalog__text {
    font-family: Onest, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #757A7A;
    max-width: 545px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-top: 20px;
}

.catalog__body {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.catalog__actions {
    margin-left: -40px;
    margin-right: 40px;
}

.catalog__tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 30px;
    width: 334px;
    gap: 15px;
    font-family: Onest, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #272C2C;
    border-radius: 50px;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin-bottom: 20px;

}

.catalog__tab:last-child {
    margin-bottom: 0;
}

.catalog__tab.active, .catalog__tab:hover {
    -webkit-box-shadow: 0 0 18px 0 rgba(200, 194, 179, 0.4);
    box-shadow: 0 0 18px 0 rgba(200, 194, 179, 0.4);
    color: #E9A429;
}

.catalog__products {
    overflow: hidden;

}

.catalog__slider {
    border: 1px solid #E9A429;
    border-radius: 20px;
    padding: 30px;
}

.slick-list {
    overflow: hidden;
}

.slick-slide {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    opacity: 0;
}

.slick-slide.slick-active {
    opacity: 1;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.catalog__slider-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
}

.catalog__slider-media {
    max-width: 297px;
    text-align: center;
    font-family: Onest, sans-serif;

}

.catalog__slider-image {
    overflow: hidden;
    max-width: 297px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

.catalog__slider-image img {
    height: 210px;
}

.catalog__slider-image-roster-title, .catalog__slider-image-roster-title-mobile {
    font-family: Onest, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #E9A429;
    margin-bottom: 6px;
}

.catalog__slider-image-roster, .catalog__slider-image-roster-mobile {
    font-family: Onest, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
    color: #272C2C;
}

.catalog__slider-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 499px;
    text-align: start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.catalog__slider-mobile-head {
    display: none;
}

.catalog__slider-content-title, .catalog__slider-content-title-mobile {
    font-family: Onest, sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #131919;
    margin-bottom: 4px;
}


.catalog__slider-content-text, .catalog__slider-content-text-mobile {
    font-family: Onest, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #757A7A;
    margin-bottom: 20px;
}

.catalog__slider-content-nutrition, .catalog__slider-content-nutrition-mobile {
    font-family: Onest, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #E9A429;
    margin-bottom: 6px;
}

.catalog__slider-content-items, .catalog__slider-content-items-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.catalog__slider-nutrition-small-mobile {
    display: none;
}

.catalog__slider-content-item:not(:last-child) {
    margin-right: 40px;
    font-family: Onest, sans-serif;
    font-weight: 400;
}

.catalog__slider-content-item-title {
    font-size: 13px;
    color: #757A7A;
}

.catalog__slider-content-item-value {
    margin-top: 5px;
    font-size: 16px;
    color: #131919;
}

.catalog__slider-content-conditionals {
    margin-bottom: 99px;
}

.catalog__slider-content-conditionals-title {
    font-family: Onest, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #E79B12;
    margin-bottom: 6px;
}

.catalog__slider-content-conditionals-text {
    font-family: Onest, sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #272C2C;
}

.catalog__slider-mobile-roster {
    display: none;
}

.catalog__slider-content-button a, .catalog__slider-content-button-mobile a {
    background-color: #00CEBD;
    color: white;
}

.catalog__slider-content-button button:hover {
    background-color: white;
    color: #00CEBD;
}

.catalog__arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    margin-top: 20px;
    gap: 15px;
}

.catalog__arrow {
    border-radius: 50%;
    border: 1px solid #00CEBD;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
}

.catalog__arrow:hover {
    background-color: #00CEBD;
}

.catalog__arrow svg path {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.catalog__arrow:hover svg path {
    fill: white;
}


@media (max-width: 1261px) {

    .catalog__head {
        display: block;
    }

    .catalog__sub-title {
        margin-bottom: -5%;
    }

    .catalog__text {
        max-width: inherit;
    }

    .catalog__body {
        display: block;
    }

    .catalog__actions {
        margin-right: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        overflow-x: scroll;
        gap: 10px;
        margin-left: 0;
        padding: 10px;
        margin-bottom: 30px;
    }

    .catalog__tab {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: inherit;
        gap: 10px;
        border-radius: 20px;
    }

    .catalog__tab-name {
        text-wrap: nowrap;
    }
}

@media (max-width: 768px) {
    .catalog {
        padding: 120px 0 60px 0;
    }

    .catalog__title {
        font-size: 120px;
    }

    .catalog__text {
        max-width: 545px;
    }

    .catalog__slider-content-title {
        display: none;
    }

    .catalog__slider-content-text {
        display: none;
    }

    .catalog__slider-content-button {
        display: none;
    }

    .catalog__slider-image-text {
        display: none;
    }

    .catalog__slider-content-conditionals {
        margin-bottom: 0;
    }

    .catalog__slider-mobile-head {
        display: block;
    }

    .catalog__slider-content-title-mobile {
        margin-bottom: 6px;
    }

    .catalog__slider-inner {
        gap: 20px;
    }

    .catalog__slider-content-items {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        max-width: 200px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        row-gap: 10px;
    }

    .catalog__slider-content-item:last-child {
        margin-right: 7px;
    }

    .catalog__slider-mobile-roster {
        display: block;
    }

    .catalog__slider-content-button-mobile {
        margin-top: 30px;
    }

}

@media (max-width: 610px) {
    .catalog {
        padding: 80px 0 60px 0;
    }

    .catalog__sub-title {
        font-size: 28px;
    }

    .catalog__title, .title {
        font-size: 90px;
    }

    .catalog__tab-name {
        font-size: 16px;
    }


    .catalog__slider-content {
        display: none;
    }

    .catalog__slider-image-text {
        display: block;
    }

    .catalog__slider-media {
        max-width: inherit;
        text-align: inherit;
    }

    .catalog__slider-image-roster-title-mobile, .catalog__slider-image-roster-mobile {
        display: none;
    }

    .catalog__slider-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }


    .catalog__slider-nutrition-small-mobile {
        display: block;
    }

    .catalog__slider-content-items-mobile {
        row-gap: 10px;
    }

}

.about {
    padding: 182px 0 120px 0;
    background-image: url("../images/aboutbg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about__head {
    margin-bottom: 80px;
}

.about__sub-title {
    position: relative;
    z-index: 2;
    margin-bottom: -4%;
}


.about__grid {
    display: -ms-grid;
    display: grid;
    -webkit-column-gap: 13px;
    -moz-column-gap: 13px;
    column-gap: 13px;
    row-gap: 40px;
    -ms-grid-columns: 1fr 13px 1fr 13px 1fr;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 0.5fr 40px 0.5fr 40px 0.5fr 40px 0.5fr;
    grid-template-rows: repeat(4, 0.5fr);
    grid-template-areas:
    "image div1 div2"
    "image div3 div4"
    "div5 div6 image2"
    "div7 div8 image2";
}

.div1 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: div1;

}

.div2 {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: div2;
}

.div3 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: div3;
}

.div4 {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
    grid-area: div4;
}

.div5 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: div5;
}

.div6 {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    grid-area: div6;
}

.div7 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: div7;
}

.div8 {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
    grid-area: div8;
}

.image {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-area: image;
}

.about__item image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}


.image2 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    -ms-grid-column: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-area: image2;
}

.about__item-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.about__item-head-title {
    font-family: Onest, sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #131919;
}

.about__item-text {
    font-family: Onest, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #272C2C;
}

.about__item-text span {
    color: #00CEBD;
}

@media (max-width: 1200px) {
    .about__grid {
        row-gap: 20px;
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-rows: 200px 20px 200px 20px 200px 20px 200px 20px 200px 20px 200px;
        grid-template-rows: repeat(6, 200px);
        grid-template-areas:
    "image div1"
    "image div2"
    "div3 div4"
    "div5 div6"
    "div7 image2"
    "div8 image2";
    }
    .div1 {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    .div2 {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }
    .div3 {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }
    .div4 {
        -ms-grid-row: 5;
        -ms-grid-column: 2;
    }
    .div5 {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
    }
    .div6 {
        -ms-grid-row: 7;
        -ms-grid-column: 2;
    }
    .div7 {
        -ms-grid-row: 9;
        -ms-grid-column: 1;
    }
    .div8 {
        -ms-grid-row: 11;
        -ms-grid-column: 1;
    }
    .image {
        -ms-grid-row: 1;
        -ms-grid-row-span: 3;
        -ms-grid-column: 1;
    }
    .image2 {
        -ms-grid-row: 9;
        -ms-grid-row-span: 3;
        -ms-grid-column: 2;
    }


}

@media (max-width: 870px) {

    .about {
        padding: 153px 0 120px 0;
        background-image: url("../images/about-bg-ipad.png");
        background-position-y: 6%;
    }

    .about__grid {
        -ms-grid-columns: (minmax(335px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(335px, 1fr));
        -ms-grid-rows: (minmax(200px, 1fr))[6];
        grid-template-rows: repeat(6, minmax(200px, 1fr));
    }

    .about__grid > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .about__grid > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    .about__grid > *:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    .about__grid > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }

    .about__grid > *:nth-child(5) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .about__grid > *:nth-child(6) {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }

    .about__grid > *:nth-child(7) {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    }

    .about__grid > *:nth-child(8) {
        -ms-grid-row: 4;
        -ms-grid-column: 2;
    }

    .about__grid > *:nth-child(9) {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }

    .about__grid > *:nth-child(10) {
        -ms-grid-row: 5;
        -ms-grid-column: 2;
    }

    .about__grid > *:nth-child(11) {
        -ms-grid-row: 6;
        -ms-grid-column: 1;
    }

    .about__grid > *:nth-child(12) {
        -ms-grid-row: 6;
        -ms-grid-column: 2;
    }

    .title {
        font-size: 120px;
    }

    .about__head {
        margin-bottom: 60px;
    }

    .image img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 30px;
    }

    .image2 img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 30px;
    }
}

@media (max-width: 733px) {
    .about__grid {
        row-gap: 5px;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: 200px 5px 200px 5px 200px 5px 200px 5px 200px 5px 200px 5px 200px 5px 200px 5px 200px 5px 200px 5px 200px 5px 200px;
        grid-template-rows: repeat(12, 200px);
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        grid-template-areas:
    "image"
    "image"
    "div1"
    "div2"
    "div3"
    "div4"
    "div5"
    "div6"
    "div7"
    "div8"
    "image2"
    "image2";
    }

    .image img, .image2 img {
        width: inherit;
    }
    .div1 {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }
    .div2 {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
    }
    .div3 {
        -ms-grid-row: 9;
        -ms-grid-column: 1;
    }
    .div4 {
        -ms-grid-row: 11;
        -ms-grid-column: 1;
    }
    .div5 {
        -ms-grid-row: 13;
        -ms-grid-column: 1;
    }
    .div6 {
        -ms-grid-row: 15;
        -ms-grid-column: 1;
    }
    .div7 {
        -ms-grid-row: 17;
        -ms-grid-column: 1;
    }
    .div8 {
        -ms-grid-row: 19;
        -ms-grid-column: 1;
    }
    .image {
        -ms-grid-row: 1;
        -ms-grid-row-span: 3;
        -ms-grid-column: 1;
    }
    .image2 {
        -ms-grid-row: 21;
        -ms-grid-row-span: 3;
        -ms-grid-column: 1;
    }
}


@media (max-width: 500px) {
    .about__grid {
        row-gap: 20px;
        -ms-grid-rows: 0.5fr 20px 0.5fr 20px 0.5fr 20px 0.5fr 20px 0.5fr 20px 0.5fr 20px 0.5fr 20px 0.5fr 20px 0.5fr 20px 0.5fr;
        grid-template-rows: repeat(10, 0.5fr);
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        grid-template-areas:
    "image"
    "div1"
    "div2"
    "div3"
    "div4"
    "div5"
    "div6"
    "div7"
    "div8"
    "image2"
    }

    .image img, .image2 img {
        width: 100%;
    }
    .div1 {
        -ms-grid-row: 3;
        -ms-grid-column: 1
    }
    .div2 {
        -ms-grid-row: 5;
        -ms-grid-column: 1
    }
    .div3 {
        -ms-grid-row: 7;
        -ms-grid-column: 1
    }
    .div4 {
        -ms-grid-row: 9;
        -ms-grid-column: 1
    }
    .div5 {
        -ms-grid-row: 11;
        -ms-grid-column: 1
    }
    .div6 {
        -ms-grid-row: 13;
        -ms-grid-column: 1
    }
    .div7 {
        -ms-grid-row: 15;
        -ms-grid-column: 1
    }
    .div8 {
        -ms-grid-row: 17;
        -ms-grid-column: 1
    }
    .image {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1
    }
    .image2 {
        -ms-grid-row: 19;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1
    }
}

/*===============form-mini==================*/

.form-mini {
    margin-top: -1%;
    background-image: url("../images/smallform.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 80px 0 180px 0;
}

.form-mini__title {
    font-family: Onest, sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: white;
    max-width: 436px;
    line-height: 43px;
    margin-bottom: 40px;
}

.form-mini__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
}

.input {
    color: #fff;
    font-family: Onest, sans-serif;
    font-weight: 500;
    border-radius: 30px;
    padding: 19px 26px;
    background-color: transparent;
    border: 1px solid #98E3DD;
}

.input::-webkit-input-placeholder {
    color: #98E3DD;
    font-family: Onest, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.input::-moz-placeholder {
    color: #98E3DD;
    font-family: Onest, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.input:-ms-input-placeholder {
    color: #98E3DD;
    font-family: Onest, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.input::-ms-input-placeholder {
    color: #98E3DD;
    font-family: Onest, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.input::placeholder {
    color: #98E3DD;
    font-family: Onest, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.form-mini__button {
    border: 1px solid transparent;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    height: 60px;
    background-color: #ffffff;
    color: #00CEBD;
}

.form-mini__button:hover {
    border-color: #fff;
    background-color: #00CEBD;
    color: #fff;
}

@media (max-width: 950px) {
    .form-mini__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 10px;
    }

    .form-mini .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
    }

    .form-mini {
        padding: 80px 0px 283px 0;
        background-image: url("../images/small-form-mob.png");
    }

    .form-mini__button {
        padding: 19px 38px;
    }
}

@media (max-width: 500px) {
    .form-mini {
        padding: 80px 0px 300px 0;
        background-image: url("../images/smal-form-litle.png");
    }


    .form-mini__title {
        font-size: 28px;
    }

    .form-mini .container {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .form-mini__inner, .form-mini__item, .form-mini__button, .input {
        width: 100%;
    }

}

/*===============partners=====================*/

.partners {
    padding-top: 67px;
    padding-bottom: 120px;
}

.patners__sub-title {
    margin-bottom: -4%;
    position: relative;
    z-index: 2;
}

.partners__center {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 80px;
}

.partners__item {
    max-width: 340px;
}

.partners__item-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
}

.parnters__item-title {
    margin-left: 10px;
    font-family: Onest, sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #131919;
}

.partners__item-text {
    font-family: Onest, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #272C2C;
}

.partners__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.partners__desc-title {
    font-family: Onest, sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #131919;
    margin-bottom: 20px;
}

.partners__desc-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.partners__desc-row-text {
    font-family: Onest, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #272C2C;
}

.partners__logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.partners__logo:not(:last-child) {
    margin-right: 20px;
}

@media (max-width: 920px) {

    .partners {
        padding-top: 123px;
        padding-bottom: 120px;
    }

    .partners__center {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        margin-bottom: 40px;
    }

    .partners__item {
        max-width: inherit;
        margin-bottom: 40px;
    }

    .partners__bottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
    }

    .partners__desc {
        margin-bottom: 25px;
    }

    .partners__logos {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .partners__logo {
        margin-bottom: 20px;
    }
}

@media (max-width: 376px) {
    .partners {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .partners__item {
        margin-bottom: 20px;
    }

    .parnters__item-title {
        font-size: 16px;
    }

    .partners__desc {
        margin-bottom: 5px;
    }

    .partners__desc-title {
        font-size: 20px;
    }
}


/*===========contacts==============*/

.contacts {
    background-image: url("../images/contact-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 120px;
    padding-bottom: 230px;
}


.contacts__sub-title {
    margin-bottom: -4%;
    position: relative;
    z-index: 2;
}

.contacts__head {
    margin-bottom: 20px;
}

.contacts__address {
    margin-bottom: 10px;
}

.contacts__address-head {
    font-family: Onest, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #131919;
    margin-bottom: 5px;
}

.contacts__address-bottom {
    font-family: Onest, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #272C2C;
}

.contacts__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 44px;
}

.contacts__map {
    max-width: 974px;
    width: 974px;
    border: 1px solid #E9A429;
    border-radius: 20px;
    overflow: hidden;
}

.contacts__info-item {
    margin-bottom: 40px;
}

.contacts__info-title {
    font-family: Onest, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #E9A429;
    margin-bottom: 10px;
}

.contacts__info-text {
    font-family: Onest, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #272C2C;
    margin-bottom: 8px;
}

@media (max-width: 768px) {
    .contacts {
        background-image: url("../images/contact-bg-768.png");
    }

    .contacts__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 40px;
    }

    .contacts__map {
        width: inherit;
        height: 308px;
    }

    .contacts__info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .contacts__info-item {
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .contacts {
        padding-top: 80px;
        padding-bottom: 220px;
        background-image: url("../images/contact-bg-376.png");
    }
}


/*===================send===============*/
.send {
    margin-top: -100px;
    margin-bottom: -146px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url("../images/send-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px #fff;
}

.send__title {
    font-family: Onest, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: #ffffff;
    max-width: 545px;
    margin-bottom: 20px;
}

.send__text {
    font-family: Onest, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    max-width: 538px;
    color: #fff;
    margin-bottom: 40px;
}

.send__form-inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 813px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 20px;
}

.send__input:last-child {
    width: 540px;
}

.send__input:last-child input {
    width: 100%;
}

.send__form-inputs input {
    width: 255px;
    border: 1px solid #A0F6EF;
}

.send__form-checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.send__form-checkbox-text {
    font-family: Onest, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.send__form-checkbox-text span {
    text-decoration: underline;
}

.send__btn {
    background-color: #fff;
    color: #00CEBD;
}


@media (max-width: 1920px) {
    .send {
        margin-top: -100px;
        margin-bottom: -163px;
    }
}

@media (max-width: 1000px) {
    .send {
        background-position-x: 65%;
    }
}

@media (max-width: 873px) {
    .send {
        margin-bottom: -170px;
    }
}

@media (max-width: 768px) {
    .send {
        background-image: url("../images/send-768.png");
        margin-top: -118px;
        background-position: center;
    }
}


@media (max-width: 587px) {
    .send__input {
        width: 100%;
    }

    .send__input input {
        width: 100%;
    }
}

@media (max-width: 397px) {
    .send {
        background-image: url("../images/send-mob.png");
    }
}

.footer {

    background-color: #11afa1;
    padding: 40px 0;
}

.footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer__text {
    font-family: Onest, sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #fff;
}

.footer__text p {
    margin-bottom: 5px;
}

@media (max-width: 500px) {
    .footer .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 20px;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
    }
}


@media (max-width: 768px) {
    .subtitle {
        font-size: 36px;
    }

    .title {
        font-size: 120px;
    }
}

@media (max-width: 500px) {
    .subtitle {
        font-size: 28px;
    }

    .title {
        font-size: 90px;
    }
}